.home-part {
  background: linear-gradient(180deg, #ecf3f7 0, #fff 99.92%);
}
.main-heading {
  font-size: 48px;
  font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.mh-1 {
  margin-top: 0;
  padding-top: 170px;
  color: #500ad2;
}
.small-para {
  font-weight: 400;
  font-size: 16px;
}

.outline-primary {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 20px;
  height: 54px;
  margin-top: 30px;
}
.inline-buttons {
  display: flex;
  justify-content: center;
}
.button-demo {
  margin-right: 15px;
}
.button-demo-b2 {
  margin-left: 15px;
  width: 170px;
  height: 52px;
  align-self: flex-end;
  font-size: 29px;
  font-weight: 100;
  text-align: center;
}
.button-demo-b2:after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20d%3D%22M13.025%201l-2.847%202.828%206.176%206.176h-16.354v3.992h16.354l-6.176%206.176%202.847%202.828%2010.975-11z%22%20fill%3D%22rgb(0%2C15%2C240)%22%2F%3E%0A%3C%2Fsvg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  width: 16px;
  top: 10px;
  right: 8px;
  margin: 6px 6px;
  margin-top: 7px;
  transition: all 0.3s ease-in-out;
}
.button-demo-b2:hover {
  cursor: pointer;
}
.button-demo-b2:hover:after {
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.svg {
  height: 825px;
  width: 1110px;
}
.slick-slider {
  width: 650px;
  margin-left: 30%;
}
